@page
@model RazorPagesGeneral.Pages.Employees.EmployeesModel
@{
    ViewData["Title"] = "Employees";
    ViewData["ShowButtons"] = true;
}

@if (TempData["SuccessMessage"]!= null)
{
<div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
}

<form method="get" class="mb-3">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<vc:head-count department="@null"></vc:head-count>

<h1>Employees</h1>

<div class="row">
    @foreach (var item in Model.Employees)
   {
        <div class="col-12 col-sm-6 col-lg-4">
            <partial name="_DisplayEmployeePartial" model="item" view-data="ViewData" />
        </div>
   }
</div>

  
